body {
    background: #eee;
    font-family: verdana;
    margin: 0;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}

.flex-container {
  display: flex;
  background: white;
  flex-flow: column;
  flex-wrap: wrap;
  height: 800px;
  justify-content: flex-end;
}

.box {
  height: 100px;
  flex: 0 0 100px;
}

.one {
 background: yellow;
}

.two {
  background: cyan;
}

.three {
  background: fuchsia;
}
