body {
    background: #eee;
    font-family: verdana;
    margin: 0;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* menu base styles */
nav {
  background: #333;
}
nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  color: #fff;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  background: #555;
}
/* flex styles */
